a {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 2vw;
    color: #262626;
    font-size: 42px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    line-height: 1;
    padding: 6vw 0vw;
    font-family: "Lucida Console", Courier, monospace;
}

a:hover
{
    color: rgb(255, 255, 255);
    background: #3d1ee9;
}

a:hover:before {
    bottom: -12px;
    left: -12px;
    opacity: 1;
}

a:hover:after {
    top: -12px;
    right: -12px;
    opacity: 1;
}

a:before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #7d1ee9;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}

a:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #1e54e9;
    border-width: 3px 3px 0 0;
    transition: .3s;
    opacity: 0;
}

