/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

canvas {
    position:fixed;
    top: 0px;
    left: 0px;
    z-index : -1;
}
html, body { 
    height: 100%; padding: 0; margin: 0
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

