
.header {
    display: flex;
    justify-content: center;
    padding-top: 36px
}

header {
    margin-bottom: 6vh;
}

h1 {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 26px;
    font-weight: 500;
    border-bottom: 8px solid #6d57d0;
}