nav {
    width: 100vw;
    display: flex;
    justify-content: center;
}

ul {
    width: 80%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    ul li {
        width: 100%;
    }
}

