<nav>
<ul>
    <li>
        <app-menu-item link="/11k">11k <br> 2595</app-menu-item>
    </li>
    <li>
        <app-menu-item link="/aleris">Aleris <br> 1854</app-menu-item>
    </li>
    <li>
        <app-menu-item link="/f1">F1 <br> 2098</app-menu-item>
    </li>
    <li>
        <app-menu-item link="/shelby">Shelby <br> 1658</app-menu-item>
    </li>
</ul>
</nav>